* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container h1 {
  color: #000;
  font-size: 4rem;
  font-family: sans-serif;
}

.container span {
  color: #0070f3;
}

.btn {
  background-color: transparent;
  border: 2px solid #373737;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  height: 2rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  transition: all 0.2s;
  width: 16rem;
}

.btn:hover {
  border-color: #0070f3;
  color: #0070f3;
}

input[type="text"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 16rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.7);
}
